flows/gsaleal/Flow 1 - ef7d312d209fd012 - gsaleal.json
[
  {
    "id": "ef7d312d209fd012",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "9597ab539dae3ee4",
    "type": "inject",
    "z": "ef7d312d209fd012",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 240,
    "wires": [
      [
        "357f06ebb80cd375"
      ]
    ]
  },
  {
    "id": "357f06ebb80cd375",
    "type": "tasy data access",
    "z": "ef7d312d209fd012",
    "name": "",
    "x": 350,
    "y": 240,
    "wires": [
      [
        "d79ed17471d5223e"
      ]
    ]
  },
  {
    "id": "d79ed17471d5223e",
    "type": "sql builder",
    "z": "ef7d312d209fd012",
    "parameters": [],
    "name": "",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "template": "select 1 from dl_feriado;",
    "output": "str",
    "x": 630,
    "y": 280,
    "wires": [
      [
        "da2646e50c4f0565"
      ]
    ]
  },
  {
    "id": "da2646e50c4f0565",
    "type": "debug",
    "z": "ef7d312d209fd012",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 240,
    "wires": []
  }
]