flows/gsaleal/Function - Tasy - b71cc56c201fd4d9 - gsaleal.json
[
  {
    "id": "b71cc56c201fd4d9",
    "type": "tab",
    "label": "Function - Tasy",
    "disabled": false,
    "info": "List of functions registered with Tasy.",
    "env": [],
    "flowCategory": {
      "value": "",
      "label": "---"
    },
    "dbPanelCode": ""
  },
  {
    "id": "f212bf8a5aa640a1",
    "type": "function",
    "z": "b71cc56c201fd4d9",
    "parameters": [],
    "name": "Fetch Function Script",
    "func": "const locale = msg.payload.value.dataRecord.locale ? msg.payload.value.dataRecord.locale : '';\n\nconst sql = `\n    SELECT a.cd_funcao functioncode,\n            MAX(c.ds_expressao) functionname,\n            nvl(a.ds_rota, ' ') functionroute\n    FROM  funcao                 a,\n          dic_expressao          b,\n          dic_expressao_idioma   c\n    WHERE a.ie_situacao IN ('A')\n        AND a.ie_versao_uso IN ('A')\n        AND a.cd_exp_funcao = b.cd_expressao\n        AND b.cd_expressao = c.cd_expressao\n        AND\t(upper(c.ds_locale) = nvl(UPPER('${locale}'),upper('EN_US'))) \n    GROUP BY\n        a.cd_funcao,\n        a.ds_rota\n    ORDER BY\n        functionname\n`;\n\nmsg.topic = sql;\nmsg.event = 'SQL-GET-FUNCTION-LIST';\nmsg.headers = msg.payload.headers\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 120,
    "wires": [
      [
        "af0d95ec61895d57",
        "2b6b1a931ebb78a4"
      ]
    ]
  },
  {
    "id": "d2f5733456a66f36",
    "type": "function",
    "z": "b71cc56c201fd4d9",
    "parameters": [],
    "name": "Response function",
    "func": "const response = {};\nif(msg.error){\n    response.status = 'ERROR';\n    response.error = msg.error.message;\n}else{\n    response.status = 'SUCCESS';\n    response.rows = msg.payload.select[0].resultSet;\n}\nmsg.payload = { \n    ...response, \n    headers: msg.headers \n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 120,
    "wires": [
      [
        "79c8895c741e9737",
        "e6f5712d0c54a9f0"
      ]
    ]
  },
  {
    "id": "af0d95ec61895d57",
    "type": "debug",
    "z": "b71cc56c201fd4d9",
    "name": "Debug Built SQL - Function",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 940,
    "y": 220,
    "wires": []
  },
  {
    "id": "ddec011bf68ee7f7",
    "type": "debug",
    "z": "b71cc56c201fd4d9",
    "name": "Debug Incoming Payload - Function",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 220,
    "wires": []
  },
  {
    "id": "79c8895c741e9737",
    "type": "debug",
    "z": "b71cc56c201fd4d9",
    "name": "Debug SQL Result - Function",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1420,
    "y": 220,
    "wires": []
  },
  {
    "id": "2b6b1a931ebb78a4",
    "type": "tasy data access",
    "z": "b71cc56c201fd4d9",
    "name": "",
    "x": 890,
    "y": 120,
    "wires": [
      [
        "d2f5733456a66f36"
      ]
    ]
  },
  {
    "id": "7332696e40edda58",
    "type": "spinal-consumer",
    "z": "b71cc56c201fd4d9",
    "name": "Function Request",
    "outOfRangeOffset": "earliest",
    "fromOffset": "latest",
    "topic": "spinal.cmdk.extension.FunctionRequest",
    "groupid": "cmdk-smartlink-function-request",
    "connection": {
      "name": "broker name",
      "host": "localhost:9092"
    },
    "broker": "0",
    "x": 100,
    "y": 120,
    "wires": [
      [
        "b3c1341c4c6b2571"
      ]
    ]
  },
  {
    "id": "b3c1341c4c6b2571",
    "type": "json",
    "z": "b71cc56c201fd4d9",
    "name": "",
    "property": "payload.value",
    "action": "",
    "pretty": false,
    "x": 310,
    "y": 120,
    "wires": [
      [
        "f212bf8a5aa640a1",
        "ddec011bf68ee7f7"
      ]
    ]
  },
  {
    "id": "e6f5712d0c54a9f0",
    "type": "json",
    "z": "b71cc56c201fd4d9",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 1370,
    "y": 120,
    "wires": [
      [
        "e445f3c99a121942"
      ]
    ]
  },
  {
    "id": "e445f3c99a121942",
    "type": "spinal-producer",
    "z": "b71cc56c201fd4d9",
    "name": "Function Reply",
    "topic": "spinal.cmdk.extension.FunctionReply",
    "advancedoptions": false,
    "acknowledge": "all",
    "partition": "",
    "headeritems": {},
    "key": "",
    "responsetimeout": 30000,
    "transactiontimeout": 60000,
    "metadatamaxage": 300000,
    "allowautotopiccreation": false,
    "connection": {
      "name": "Default broker",
      "host": "kafka:29092"
    },
    "broker": "0",
    "x": 1560,
    "y": 120,
    "wires": []
  }
]